.length{
    display: flex;
}
.contact {
    width: 300px;
    margin: 60px auto;
    text-align: center;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 8px;
}

.contact textarea {
    height: 80px;
}

.contact button {
    padding: 8px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}



.food-image{
    height: 300px;
    width: 300px;
    margin:70px 70px 70px;
}